#ros2_ws
/ros2_ws/install
/ros2_ws/log
/ros2_ws/build

#turtlebot3
/ros2_ws/src/turtlebot3
/ros2_ws/src/turtlebot3_msgs
/ros2_ws/src/DynamixelSDK
/ros2_ws/src/turtlebot3_simulations



#maps
/2d_map
/3d_model/object_scan_good
/3d_model/object_scan_2
/3d_model/object_scan_multi_1
/3d_model/object_scan_multi_2
/3d_model/object_scan_multi_3
/3d_model/object_scan_multi_good
/3d_model/object_scan_update
/fusion/hybrid_maps

#rtabmap
/ros2_ws/src/rtabmap_ros
/ros2_ws/src/rtabmap

#eval
/eval/eval_cardboard/cardboard_box
/eval/eval_cone/cone_blue
/eval/eval_cone/cone_red
/eval/eval_table_chair/Chair
/eval/eval_table_chair/table_marble

#others
*.ply
*.jpg
*.db
*.bag
