#ros2_ws
/ros2_ws/install
/ros2_ws/log
/ros2_ws/build

#turtlebot3
/ros2_ws/src/turtlebot3
/ros2_ws/src/turtlebot3_msgs
/ros2_ws/src/DynamixelSDK
/ros2_ws/src/turtlebot3_simulations

#maps
/2d_map
/3d_model/object_scan
/fusion/hybrid_maps

#rtabmap
/ros2_ws/src/rtabmap_ros
/ros2_ws/src/rtabmap


#others
*.ply
*.png
*.jpg
*.db
*.bag
